* {
        box-sizing: border-box;

}

body {
    position: relative;
    background: black;
    padding: 2.5vh 0vw;
    height: 97.5vh;
    width: calc((var(--pageCount)* 95vw));
    margin: 0;
      overflow-x: hidden;
      --pageWidth: 95vw;

}
.backToHubLink {
    position:absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: black;
}

.mainContainer {
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: grid;
      grid-auto-flow: column;
  grid-auto-columns: 1fr;   
  /* each page = 100% of viewport */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* gap: 5%; */
    margin: 0;
}

.position {
    /* left: 50%; */
    /* --centerFixer : 0; */
    --defaultPosition: calc(var(--pagesToMiddleCount) * (var(--pageWidth) * -1) - var(--pagesToMiddleCount) * -2.5vw);
    transform: translateX(calc(var(--defaultPosition) - var(--pageWidth) * var(--positionModifier) ));

    /* centers regardless of width */
}

.animatePageTransitions {
        transition: transform 200ms ease-in;

}

.mainContainer > div {
        margin: 2.5vw;
    background-color: white;
        align-self: center;
    height: 70%;
    transition: height 0.6s ease;
}

.mainContainer > .selectedPage {
    height: 90%;
}

.dataPageContainer {
    display: grid;
    grid-template-rows: 1fr 6fr;
    align-items: center;
}

.dataPageHeader {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dataPageHeader > p {
    font-size: 2em;
    font-weight: 700;
    justify-self: center;
    border-bottom: 4px solid black;
}


.dataPageContentContainer {
    background-color: grey;
    height: 100%;
    padding: 5%;
}

.dataPageDataScrollerDiv {
    position: relative;
    background-color: purple;
    min-height: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    contain: size;
    flex-direction: column;
}

.dataPageDataScrollerDiv::-webkit-scrollbar {
    display: none;
}

.testerInstance {
    height: 100%;
    display: grid;
    flex: 0 0 1;
    /* height: 10%; */
    min-height: 10%;
    border: 2px solid black;
    transition: min-height 0.1s ease-in;
    cursor: grab;
    user-select: none;
    text-align: center;
    align-items: center;
}
.testerInstance:has(p:hover) { pointer-events: none; } 
.testerInstance > p {
    display: grid;
    justify-self: center;
}

.selectedNote {
    top: 0;
    width: 100%;
    min-height: 100%;
    transition: min-height 0.4s ease-in;
    background-color: gold;
    overflow-y: hidden;
}

.dataPageDataScrollerDiv:has(.selectedNote) > div:not(.selectedNote){
    display: none;
}

.testerInstance > div {
        min-height: 0;
        display: none;
}

.mainPageContainer {
    min-height: 0;
    display: grid;
    grid-template-rows: 0.75fr 3fr 1fr;
}

.mainPageContainer > div {
display: grid;
justify-content: center;
align-items: center;
text-align: center;
}

.header {
    /* background-color: red; */
    font-size: 200%;
}

.header > p {
    border: 4px solid black;
    padding: 3px;
}

.header > p, span {
    font-weight: 700;
}

.header span {padding-right: 5px;}

.contentContainerDiv {
    min-height: 0;    
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
}

.contentContainerDiv > div { 
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: 100%;
}


.contentTextHeader {
display: grid;
text-align: center;
    font-size: 200%;
    border-bottom: 3px solid black;
    justify-self: center;
    padding: 3px;
    font-weight: 700;
}


.contentTextContainer {
display: grid;
height: 100%;

}

.contentText {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 85%;
    height: 85%;
    border: 3px solid black;
    padding: 10px;
    contain: size;
overflow-y: auto;
overflow-x: hidden;
}

.pageMoveButtonContainer {
    position: fixed;
        top: 50vh;
    z-index: 1;
    border: 0;
    /* width: 97.5vw; */
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 80%; */
    align-content: space-between;
    justify-content: space-between;
    transform: translateX(50%);
        right: -2.5%;

}

body > .pageMoveButtonContainer:nth-child(2) {
        left: -100%;

}

.pageMoveButtonContainer {
    font-size: 1em;
    font-weight: bold;
    border: 2px solid black;
        justify-self: center;

        padding: 1vh 0.75vw;
    align-content: center;
        background-color: white;
                    margin: 0vw 5vw;


}

.pageMoveButtonContainer:hover {
      transition: background-color 600ms ease;  /* â† smooth change */
    background-color: red;
    cursor: grab;
}

.pageMoveButtonContainer > p{
    display: grid;
    text-align: center;
    display: grid;
    align-self: center;
    margin: 0;

}

.quickAccessButtonsContainerDiv {
        border-top: 1vh black;
    border-style: dashed;

}