* {
        box-sizing: border-box;

}

body {
    position: relative;
    background: black;
    /* padding: 2.5vh 0vw; */
    height: 97.5vh;
    width: calc((var(--pageCount)* 95vw));
    margin: 0;
      overflow-x: hidden;
      --pageWidth: 95vw;

}
.backToHubLink {
    position:absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: black;
    z-index: 2;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: grid;
      grid-auto-flow: column;
  grid-auto-columns: 1fr;   
    margin: 0;
}

.position {
    --defaultPosition: calc(var(--pagesToMiddleCount) * (var(--pageWidth) * -1) - var(--pagesToMiddleCount) * -2.5vw);
    transform: translateX(calc(var(--defaultPosition) - var(--pageWidth) * var(--positionModifier) ));
}

.animatePageTransitions {
        transition: transform 200ms ease-in;

}

.mainContainer > div {
        margin: 0 2.5vw;
    background-color: white;
        align-self: center;
    height: 70%;
    transition: height 0.6s ease;
}

.mainContainer > .selectedPage {
    height: 95%;
}

.pageMoveButtonContainer {
    position: fixed;
        top: 50vh;
    z-index: 1;
    border: 0;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    transform: translateX(50%);
        right: -2.5%;

}

body > .pageMoveButtonContainer:nth-child(2) {
        left: -100%;

}

.pageMoveButtonContainer {
    font-size: 1em;
    font-weight: bold;
    border: 2px solid red;
        justify-self: center;

        padding: 1vh 0.75vw;
    align-content: center;
        background-color: black;
        color: red;
                    margin: 0vw 5vw;


}

.pageMoveButtonContainer:hover {
      transition: background-color 600ms ease;  /* â† smooth change */
    background-color: red;
    cursor: grab;
}

.pageMoveButtonContainer > p{
    display: grid;
    text-align: center;
    display: grid;
    align-self: center;
    margin: 0;

}

.quickAccessButtonsContainerDiv {
        border-top: 1vh black;
    border-style: dashed;

}